body{
  background-image: url("https://static.pexels.com/photos/104827/cat-pet-animal-domestic-104827.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

ul li{
  text-align: center;
  background-color: white;
  list-style: none;
  width: 50%;
  margin:auto;
  border: 1px solid black;
}

ul li:first-child{
  font-family: arial;
  font-weight: bold;
  font-size: 150%;
}

ul li:nth-child(2){
  background-color: grey;
  font-family: arial;
  font-size: 120%;
}

ul img{
  border: 1px solid black;
  margin: 2% 33%;

}

